a {
  box-shadow: inset 0 0 0 0 #777d80;
  color: #283135;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  justify-content: center;
}
a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #283135;
}

a {
  color: #283135;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

li {
  text-decoration: none;
}

nav {
  margin-left: auto;
  text-align: center;
}

header {
  text-align: center;
  background: rgb(91, 94, 105);
}
