a {
  color: #65757c;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  justify-content: center;
}
a:hover {
  color: rgb(191, 194, 240);
}

a {
  color: #7c898f;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  padding: 12px
}

li {
  text-decoration: none;
}

nav {
  margin-left: auto;
  text-align: center;
}

header {
  text-align: center;
  background: rgb(91, 94, 105);
}
